*{
    color:white;
    font-family:"Arial", sans-serif;
}

QMainWindow{
    background-color:white;
    
}

#CentralWidget{
    background-color:white;
    border: 2px solid black;
}

#ScriptCard{
    border-radius: 10px;
}

#ScriptCard > QLabel
{
    font-size:25px;
}